<%- include('./partials/userHeader.ejs') %>



<div class="container">
    
    <form action="/addAddress" method="post" class="checkout__form">
      <div class="row">
        <div class="col-lg-8">
          <h5>User Address</h5>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="checkout__form__input">
                <p>First Name <span>*</span></p>
                <input type="text" name="firstName" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="checkout__form__input">
                <p>Last Name <span>*</span></p>
                <input type="text"  name="lastName"/>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="checkout__form__input">
                <p>Country <span>*</span></p>
                <input type="text" name="country"/>
              </div>
              <div class="checkout__form__input">
                <p>Address <span>*</span></p>
                <input type="text" placeholder="Street Address"  name="address"/>
                <input
                  type="text" name="appartment"
                  placeholder="Apartment. suite, unite ect ( optinal )"
                />
              </div>
              <div class="checkout__form__input">
                <p>Town/City <span>*</span></p>
                <input type="text" name="city"/>
              </div>
              <div class="checkout__form__input">
                <p>Country/State <span>*</span></p>
                <input type="text" name="state"/>
              </div>
              <div class="checkout__form__input">
                <p>Postcode/Zip <span>*</span></p>
                <input type="text" name="zipcode" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="checkout__form__input">
                <p>Phone <span>*</span></p>
                <input type="text" name="phone"/>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="checkout__form__input">
                <p>Email <span>*</span></p>
                <input type="text" name="email"/>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 pb-2">
              <div class="checkout__form__input">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>

              </div>
            </div>
            
           
          </div>
        </div>
       
      </div>
    </form>
  </div>





<%- include('./partials/userFooter.ejs') %>
