<%- include('./partials/userHeader.ejs') %>
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="/"><i class="fa fa-home"></i> Home</a>
          <span>Contact</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Section Begin -->
<section class="contact spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact__content">
          <div class="contact__address">
            <h5>Contact info</h5>
            <ul>
              <li>
                <h6><i class="fa fa-map-marker"></i> Address</h6>
                <p>
                  Kinfra Techno Industrial Park University Kakkanchery Chelembra PO, Dt, Thenhipalam, Kerala 673634
                </p>
              </li>
              <li>
                <h6><i class="fa fa-phone"></i> Phone</h6>
                <p><span>0483-29 6969</span><span>9633 752203</span></p>
              </li>
              <li>
                <h6><i class="fa fa-headphones"></i> Support</h6>
                <p>ajnaskp67@gmail.com</p>
              </li>
            </ul>
          </div>
          <div class="contact__form">
            <h5>SEND MESSAGE</h5>
            <form action="#">
              <input type="text" placeholder="Name" />
              <input type="text" placeholder="Email" />
              <input type="text" placeholder="Website" />
              <textarea placeholder="Message"></textarea>
              <button type="submit" class="site-btn">Send Message</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="contact__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.4727375247817!2d75.89019191532738!3d11.152591592066893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba6502f41ef4e8b%3A0xf4c653a7548cccd!2sKinfra%20Techno%20Industrial%20Park!5e0!3m2!1sen!2sin!4v1673065099728!5m2!1sen!2sin"
            width="700"
            height="800"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->

<%- include('./partials/userFooter.ejs') %>
