

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script>    
    
        $("#btn-submit").click(function () {         
          $(".errorMessages").hide();
          var hasError = false;
          var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
          var emailaddressVal = $("#userEmail").val();
          var PasswordVal = $("#userPassword").val();
          var usernameVal = $("#username").val();
          var confirmpasswordval = $("#confirmpassword").val();

          if (emailaddressVal == "") {
            $("#errorEmail").after(
              '<p class="errorMessages" >This is required. Please make email.</p>'
            );
            hasError = true;
          }
          if (usernameVal == "") {
            $("#errorFullname").after(
              '<p class="errorMessages">This is required. Please make choice</p>'
            );
            hasError = true;
          } else if (!emailReg.test(emailaddressVal)) {
            $("#errorEmail").after(
              '<p class="errorMessages">Enter a valid email address.</p>'
            );
            hasError = true;
          }
          if (PasswordVal == "") {
            $("#errorPassword").after(
              '<p class="errorMessages">This is required. Please make choice</p>'
            );
            hasError = true;
          }
          if (confirmpasswordval !== PasswordVal) {
            $("#errorConformpassword").after(
              '<p class="errorMessages">confirm password wrong.</p>'
            );
            hasError = true;
          }
          if (hasError == true) {
            return false;
          }
        });
    </script>
    <style>
      .errorMessages{
        color: red;
        font-size: small;
        font-family: 'Poppins';
      }
    </style>


editProduct : async (req,res) => {
  try{
      const id = req.query.id
      const product = await Product.findById({_id:id})
      if(req.body.images==""||req.body.productDescription==""){
          await Product.updateOne(
              {_id:id},
              {$set:{
                  productName:req.body.productName,
                  productCategory:req.body.productCategory,
                  productPrice:req.body.productPrice,
                  oldPrice:req.body.oldPrice,
                  productBrand:req.body.productBrand,
                  productStock:req.body.productStock,
                  productDiscount:req.body.productDiscount,
                  productSize:req.body.productSize,
                  productColor:req.body.productColor
              }

          })
      }else{
          const productImg = product.productImg
          for (let i=0;i<productImg.length;i++){
              const imgPath = productImg[i]
              fs.unlink('./public/images/'+imgPath,()=>{
                  console.log("Removed");
              })
          }
          await Product.updateOne(
              {_id:id},
              {$set:{
                  productImg:req.body.images,
                  productName:req.body.productName,
                  productCategory:req.body.productCategory,
                  productPrice:req.body.productPrice,
                  oldPrice:req.body.oldPrice,
                  productBrand:req.body.productBrand,
                  productStock:req.body.productStock,
                  productDiscount:req.body.productDiscount,
                  productSize:req.body.productSize,
                  productColor:req.body.productColor,
                  productDescription:req.body.productDescription
              }}
              )

      }
      res.redirect('/admin/productList')
  }catch{
      res.redirect('/admin/not-available')
  }
}