<%- include('./partials/userHeader.ejs') %>
<form action="/sign" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <button type="submit">click</button>
</form>

<%- include('./partials/userFooter.ejs') %>
