<!-- Hero Section Begin -->
<%- include('./partials/userHeader.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="container mt-3">
  <div class="main-body m-4">
    <div class="row">
      <div style="margin: auto" class="col-md-6 col-sm-12">
        <div class="card p-4" style="border-radius: 15px">
          <div class="errorMessages" id="errorMessages"></div>
          <div class="card-body">
            <form action="/otp" method="post" id="myForm">
              <div class="form-outline mb-4">
                <label class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="user_name"
                  minlength="3"
                  id="username"
                  required
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control form-control-lg"
                  name="email"
                  id="userEmail"
                  required="'"
                />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control form-control-lg"
                  minlength="3"
                  name="password"
                  id="password"
                  required="'"
                />
              </div>
              <div id="message"></div>

              <div class="form-outline mb-4">
                <label class="form-label">Repeat Password</label>
                <input
                  type="password"
                  class="form-control form-control-lg"
                  name="confirm"
                  id="confirm_password"
                  minlength="3"
                  required=""
                />
              </div>

              <% if (userExistError!= '') { %>
              <div class="alert alert-danger mt-3" role="alert">
                <p class="text-danger"><%=userExistError %></p>
              </div>
              <% } %>

              <button id="btn-submit" class="btn btn-dark btn-lg" type="submit">
                Register
              </button>
              <p class="mt-3">
                I already have an account?
                <a href="/signin" class="text-dark"><u>Login here</u></a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("#password, #confirm_password").on("keyup", function () {
    if ($("#password").val() == $("#confirm_password").val()) {
      $("#message").html("Matching").css("color", "green");
    } else $("#message").html("Not Matching").css("color", "red");
  });
</script>

<%- include('./partials/userFooter.ejs') %>
