<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/ajnaskpmuhammed/">@ metahyper-cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/ajnaskpmuhammed/">@ metahyper-cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/ajnaskpmuhammed/">@ metahyper-cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/ajnaskpmuhammed/">@ metahyper-cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/ajnaskpmuhammed/">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/ajnaskpmuhammed/">@ metahyper-cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Section Begin -->
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-7">
              <div class="footer__about">
                  <div class="footer__logo">
                      <a href="./index.html"><img src="img/logo.png" alt=""></a>
                  </div>
                  <p>Online shopping can save time for both the buyer and retailer, reducing phone calls about availability, specifications, hours of operation or other information easily found on company and product pages.</p>
                  <div class="footer__payment">
                      <a href="/"><img src="img/payment/payment-1.png" alt=""></a>
                      <a href="/"><img src="img/payment/payment-2.png" alt=""></a>
                      <a href="/"><img src="img/payment/payment-3.png" alt=""></a>
                      <a href="/"><img src="img/payment/payment-4.png" alt=""></a>
                      <a href="/"><img src="img/payment/payment-5.png" alt=""></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-5">
              <div class="footer__widget">
                  <h6>Quick links</h6>
                  <ul>
                      <li><a href="/">About</a></li>
                      <li><a href="/">Blogs</a></li>
                      <li><a href="/contact">Contact</a></li>
                      <li><a href="/">FAQ</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="footer__widget">
                  <h6>Account</h6>
                  <ul>
                      <li><a href="/userProfile">My Account</a></li>
                      <li><a href="/">Orders Tracking</a></li>
                      <li><a href="/checkout">Checkout</a></li>
                      <li><a href="/wishlist">Wishlist</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-8">
              <div class="footer__newslatter">
                  <h6>NEWSLETTER</h6>
                  <form action="#">
                      <input type="text" placeholder="Email">
                      <button type="submit" class="site-btn">Subscribe</button>
                  </form>
                  <div class="footer__social">
                      <a href="https://www.facebook.com/profile.php?id=100006579405320"><i class="fa fa-facebook"></i></a>
                      <a href="https://twitter.com/AJNASKP7"><i class="fa fa-twitter"></i></a>
                      <a href="/"><i class="fa fa-youtube-play"></i></a>
                      <a href="https://www.instagram.com/ajnaskpmuhammed/"><i class="fa fa-instagram"></i></a>
                      <a href="/"><i class="fa fa-pinterest"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <div class="footer__copyright__text">
                  <p>Happy &copy; <script>document.write(new Date().getFullYear());</script> Thank you Your Visit | This Website is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">ajnaskpmuhammed</a></p>
              </div>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
      </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-switch">+</div>
      <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here.....">
      </form>
  </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/cart.js"></script>
<script src="/js/wishlist.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
 crossorigin="anonymous"></script>
 <script type="text/javascript" src="/js/magiczoomplus.js"></script>

</body>

</html>